@{
    ViewBag.Title = "Home Page";
}

<h2></h2>
<fieldset class="form-horizontal">
    @Html.Partial("_ProductNavPartial")

    <legend>Featured Items</legend>
    <div class="list-group col-md-7">
    </div>
</fieldset>
