@model ShoppingGuide.Models.Product

@{
    ViewBag.Title = "Add Product";
}

<fieldset class="form-horizontal">
    <legend><b><i>@Html.DisplayFor(model => model.Name)</i></b> successfully added to cart.</legend>
    <ul class="pager">
      <li class="previous"><a href="~/Home/Index">&larr; Continue Shopping</a></li>
      <li class="next"><a href="~/ShoppingCart/Index">View Cart &rarr;</a></li>
    </ul>
</fieldset>