@model ShoppingGuide.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
}
<script src="/Scripts/jquery-1.4.4.min.js"
type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>

<fieldset class="form-horizontal">
    <legend><b><i>Review</i></b> your cart.</legend>

    <div id="update-message">
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><b>Cart</b></div>
        <table class="table table-hover">
            <tr>
                <th>Product Name
                </th>
                <th>Price
                </th>
                <th>Quantity
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.CartItems)
            {
                <tr id="row-@item.RecordId">
                    <td>
                        @Html.ActionLink(item.AssociatedProduct.Name, "Details", "Store", new { id = item.ProductId }, null)
                    </td>
                    <td>
                        $@item.AssociatedProduct.Price
                    </td>
                    <td id="item-count-@item.RecordId">
                        @item.Count
                    </td>
                    <td>
                        <a href="~/ShoppingCart/RemoveFromCart/@item.RecordId">Remove</a>
                    </td>
                </tr>
    }
            <tr>
                <td><b>Total</b>
                </td>
                <td id="cart-total">
                    <b>$@Model.CartTotal</b>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <hr />
    <ul class="pager">
        <li class="previous"><a href="~/Home/Index">&larr; Continue Shopping</a></li>
        @if (Model.CartItems.Count > 0)
        {
            <li class="next"><a href="~/Checkout/AddressAndPayment">Checkout &rarr;</a></li>
        }
    </ul>

</fieldset>
