@model IEnumerable<ShoppingGuide.Models.Category>

@{
    ViewBag.Title = "Store";
}
<h3>Browse Categories</h3>
<p>
    Select from @Model.Count()
categories:</p>
<ul>
    @foreach (var Category in Model)
    {
        <li><a href="/Store/Browse?category=@Category.CategoryName">@Category.CategoryName</a></li>
    }
</ul> 